<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-title text-center">
        <span> Menu </span>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']" href="#"><i class="icon-speedometer"></i> Home <span class="badge badge-info">Comming soon</span></a>
      </li>

      <li class="divider"></li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/user']" href="#"><i class="icon-people"></i> Agents </a>
      </li>

      <li class="divider"></li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/shop']" href="#"><i class="fa fa-shopping-cart"></i> Shops </a>
      </li>

      <li class="divider"></li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/map']" href="#"><i class="icon-location-pin"></i> Real Time Map </a>
      </li>
      <li class="divider"></li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/plan']" href="#"><i class="fa fa-calendar-check-o"></i> Plannification </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/form']" href="#"><i class="fa fa-question-circle-o"></i> Forms </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/report']" href="#"><i class="fa fa-book"></i> Reports </a>
      </li>

    </ul>
  </nav>
</div>